*{
    /* background-color: black;
     */
padding: o;
margin: 0;
    }

    .main{
        
        /* font-family: 'Monoton', cursive;         */
        /* font-family: 'Shizuru', cursive; */
        font-family: 'Akaya Telivigala', cursive;
    }