.card{
 border-radius:5px;
 display: flex;
 flex-direction: row;
}
.title{
    width: 85%;
    /* background-color: aqua; */
}
.title h3{
    font-size: 25px;
    padding-left: 1em;
    padding-top: 5px;
}
.link{
    padding-left: 1em;
    padding-top: 2px;
    
}

  ::selection{
    color: aqua;
    background: #000;
  }